# What is the difference between a list and a dictionary in Python?

Ans : A list has number of values in a [], whereas dictionery has values in a key value pair.
We  can access a element in dictionery by it key , whereas we have to access the list its element by its index.

# Write a program that prints
# My name is <name> and I am <age> years old. (where name and age are variables and are to be taken as input)
# Fill the code snippets below

name = input("Enter your name)
age = int(input("Enter your age"))

print("My name is " + name + " and I am " + age + " years old.")


numbers = [10, 20, 30, 40, 50]
lst= numbers.append(60)
print(lst)
lst2=numbers.remove(20)
print(lst2)

# Print all items in the given list

fruits = ["apple", "banana", "mango", "orange"]

for item in fruits:
    print(item)

# Define a function that returns square of a number
def square(num):
    result = num*num
    return result

print(square(5))

In [ ]:
import numpy as np
# < START >
arr= np.array([1,2,4],[7,13, 21])
# < END >

print(arr)
print("Shape:", arr.shape)

In [ ]:
n_rows = 2
n_columns = 3

# <START>
lst1=[]
for i in range(3):
    lst1.append(np.random.randn)
lst2=[]
for i in range(3):
    lst2.append(np.random.randn)
x=np.array(lst1,lst2)       
# <END>

print(x)

In [ ]:
# < START >
# Initialize an array ZERO_ARR of dimensions (4, 5, 2) whose every element is 0

# < END >
ZERO_ARR=np.zeros(4,5,2)
print(ZERO_ARR)

# < START >
# Initialize an array ONE_ARR of dimensions (4, 5, 2) whose every element is 1
ONE_ARR=np.zeros(4,5,2)
for item in ONE_ARR:
    item=1
# < END >

print(ONE_ARR)

In [ ]:
x = np.array([4, 1, 5, 6, 11])

# <START>
# Create a new array y with the middle 3 elements of x
y=x[1:4]
# <END>

print(y)

z = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# <START>
# Create a new array w with alternating elements of z
w=z[0::2]
# <END>

print(w)

In [ ]:
arr_2d = np.array([[4, 5, 2],
          [3, 7, 9],
          [1, 4, 5],
          [6, 6, 1]])
# <START>
# Create a 2D array sliced_arr_2d that is of the form [[5, 2], [7, 9], [4, 5]]
sliced_arr_2d=arr_2d[0:3,1:]
# <END>

print(sliced_arr_2d)

#*Difference between iloc an loc*
We access a value through its index value using iloc wheras we use the row name to access a element with loc, and  in loc slicing the end row is also included whereas is is not same with iloc it excludes last row index.

In [ ]:
import pandas as pd

## Create a dataframe out of the list lst

lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']

df = pd.DataFrame(lst)
print(df)


## Create a dataframe out of list of dictionaries

dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df2 = pd.DataFrame(dict)

print(df2)

In [ ]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'], 
        'Age': [25, 30, 22, 35, 28], 
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'], 
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.dataframe(data)
## 1) Access the Age column of the df

## 2) Access the first three rows and the 'Name' and 'Age' columns(call it as subset as below)
subset = df.loc(..............)
print(subset)

In [ ]:


data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'], 
    'Age': [25, 30, 22, 35, 28], 
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'], 
    'Salary': [50000, 55000, 40000, 70000, 48000]
}

df = pd.DataFrame(data)

## 1) Access the Age column of the df
age_column = df['Age']
print(age_column)

## 2) Access the first three rows and the 'Name' and 'Age' columns(call it as subset as below)
subset = df.loc[0:2, ['Name', 'Age']]
print(subset)

In [ ]:
import pandas as pd
player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

df = pd.DataFrame(player_list, columns=['Name', 'Age', 'Weight', 'Salary'])
print(df)
            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000
5         J.Root   33      72  7028000
6     K.Peterson   42      85  2528000
Column slicing means selecting a specific set of columns from the DataFrame while keeping all rows.

## Remove the entire salary column from the dataframe(Use .iloc)
## Your Code ##
df_no_salary = df.iloc[:, 0:3]
## You need to access the specific value in the dataframe, Weight of C.Gayle(use .iloc) ##
## Your Code ##
weight_c_gayle = df.iloc[4, 2]